body {
	padding-bottom: 12px;
}
.navbar-inner {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

.list-actions {
	padding: 6px 12px;
	background-color: #EEE;
	width: 38px;
	border-radius: 3px;
}