body {
	padding-bottom: 12px;
}
.navbar-inner {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

.list-actions {
	padding: 6px 12px;
	background-color: #EEE;
	width: 38px;
	border-radius: 3px;
}

.wizard .info {
	padding-left: 72px;
}

.carousel .btn-group .btn.active {
	display: inline-block;
}

form i.required-label {
	color: #BD362F;
}

#create-subscriber-form .carousel .carousel-inner {
	height: 370px;
}

#create-subscriber-form .carousel .carousel-inner .item {
	padding-left: 72px;
	padding-right: 72px;
}

.customer-no-wrapper {
	position: relative;
}
.customer-no-wrapper .info {
	position: absolute;
	top: 6px;
	left: 250px;
	width: 100px;
}
.customer-no-wrapper .info-success {
	font-weight: bold;
	color: #468847;
}
.customer-no-wrapper .info-error {
	font-weight: bold;
	color: #B94A48;
}