body {
	padding-bottom: 12px;
}
label .inlineCheckbox {
	font-size: 0.8em;
}
label .inlineCheckbox .input {
	margin-left:12px;
	margin-bottom:3px;
}
.navbar-inner {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

.list-actions {
	padding: 6px 12px;
	background-color: #EEE;
	width: 38px;
	border-radius: 3px;
}

.wizard .info {
	padding-left: 72px;
}

.carousel .btn-group .btn.active {
	display: inline-block;
}

form i.required-label {
	color: #BD362F;
}

#create-subscriber-form .carousel .carousel-inner {
	height: 370px;
}

#create-subscriber-form .carousel .carousel-inner .item {
	padding-left: 72px;
	padding-right: 72px;
}

.customer-no-wrapper {
	position: relative;
}
.customer-no-wrapper .info {
	position: absolute;
	top: 6px;
	left: 250px;
	width: 100px;
}
.customer-no-wrapper .info-success {
	font-weight: bold;
	color: #468847;
}
.customer-no-wrapper .info-error {
	font-weight: bold;
	color: #B94A48;
}

.subscribers-list .subscriber {
	padding: 12px;
	border-bottom: 1px solid #ccc;
}

.subscriber-info .info {
	padding-left: 12px;
	border-left: 3px solid #CCC;
}
.subscriber-info .info.info-undefined {
	border-left: 3px solid #EEE;
	font-style: italic;
	color: #CCC;
}

.datePicker .day {width: 60px;}
.datePicker .month {width: 110px;}
.datePicker .year {width: 70px;}