<div class="container" ng-controller="SubscriberInfoCtrl">
	<div class="row">
		<h3 class="span12">
			<i class="icon-user">&nbsp;</i>Subscriber
		</h3>
	</div>
	<div class="row subscriber-info">
		<div class="span4">
			<h4>1. Basic Information</h4>
			<strong>Customer Number</strong>
			<p class="info" ng-class="getInfoClass(subscriber.customerNo)">{{displayInfo(subscriber.customerNo)}}</p>
			<strong>Name</strong>
			<p class="info" ng-class="getInfoClass(subscriber.name)">{{displayInfo(subscriber.name)}}</p>
			<strong>Sex</strong>
			<p class="info" ng-class="getInfoClass(subscriber.getReadableGender())">{{displayInfo(subscriber.getReadableGender())}}</p>
			<strong>Nationality</strong>
			<p class="info" ng-class="getInfoClass(subscriber.nationality)">{{displayInfo(subscriber.nationality)}}</p>
		</div>
		<div class="span4">
			<h4>2. Contact Information</h4>
			<strong>Address</strong>
			<p class="info" ng-class="getInfoClass(subscriber.address)">{{displayInfo(subscriber.address)}}</p>
			<strong>Phone</strong>
			<p class="info" ng-class="getInfoClass(subscriber.phone)">{{displayInfo(subscriber.phone)}}</p>
			<strong>Email</strong>
			<p class="info" ng-class="getInfoClass(subscriber.email)">{{displayInfo(subscriber.email)}}</p>
		</div>
		<div class="span4">
			<h4>3. Additional Information</h4>
			<strong>Note</strong>
			<p class="info" ng-class="getInfoClass(subscriber.note)">{{displayInfo(subscriber.note)}}</p>
			<strong>Referee</strong>
			<p class="info" ng-class="getInfoClass(subscriber.referee)">{{displayInfo(subscriber.referee)}}</p>
		</div>
	</div>
	<div class="row">
		<ul class="nav nav-pills span12" style="border-top: 1px solid #EEE;margin-top: 12px;">
  		<li>
    		<a href="#/subscribers"><i class="icon-caret-left">&nbsp;</i>Back</a>
  		</li>
		</ul>
	</div>
</div>