<div class="container" ng-controller="ListSubscriberCtrl">
	<h3><i class="icon-group">&nbsp;</i>Subscribers <small>({{subscribers.length}})</small></h3>
	<ul class="nav nav-pills">
	  <li>
	    <a href="#/subscribers/create"><i class="icon-plus">&nbsp;</i>New Subscriber</a>
	  </li>
	</ul>
	<div class="subscribers-list">
		<div ng-repeat="s in subscribers" class="row">
			<span class="span3"><strong>{{s.customerNo}}</strong>&nbsp;{{s.name}}</span>
			<span class="span3">{{s.address}}</span>
		</div>
	</div>
</div>