<div class="container" ng-controller="CreateSubscriberCtrl">
	{{$rootScope.createSubscriberForm.$valid}}
	<form name="createSubscriberForm" novalidate 
		id="create-subscriber-form" 
		class="span6"
		wizard="wizard">
		<div id="create-subscriber-carousel-wrapper" class="carousel slide" style="height: 320px;" data-interval="false">
			<div class="carousel-inner">
				<div ng-form="basicInfoForm" class="active item">
					<label>Name</label>
					<input type="text" ng-model="subscriber.name" required/>
					<label>Customer No</label>
					<div class="customer-no-wrapper">
						<input type="text" ng-model="subscriber.customerNo"/>
						<div class="info info-success">
							<i class="icon-ok">&nbsp;</i>available
						</div>
						<div class="info info-error">
							<i class="icon-remove">&nbsp;</i>duplicate
						</div>
					</div>
					<label>Gender</label>
					<div class="btn-group" data-toggle="buttons-radio">
						<button class="btn" ng-click="setGender('MALE', subscriber)">Male</button><button class="btn" ng-click="setGender('FEMALE', subscriber)">Female</button><button class="btn" ng-click="setGender('NOT_SPECIFIC', subscriber)">Not-Specific</button>
					</div>
					<label>Nationality</label>
					<input type="text" ng-model="subscriber.nationality"/>
					<label>Birthday</label>
					<div>
						<select ng-model="subscriber.birthday" ng-options="v.value for v in dateOptions"></select>
					</div>
				</div>
				<div ng-form="contactInfoForm" class="item">
					<label>Address</label>
					<textarea rows="3" ng-model="subscriber.address"></textarea>
					<label>Phone</label>
					<input type="text" ng-model="subscriber.phone"/>
					<label>Email</label>
					<input type="text" ng-model="subscriber.email"/>
				</div>
				<div ng-form="otherInfoForm" class="item">
					<label>Note</label>
					<input type="text" ng-model="subscriber.note"/>
					<label>Referee</label>
					<input type="text" ng-model="subscriber.referee"/>
					<div>
						<button ng-click="create(s)">Create</button>
					</div>
				</div>
			</div>
			<a class="carousel-control left" href="" data-slide="prev">&lsaquo;</a>
  			<a class="carousel-control right" href="" data-slide="next">&rsaquo;</a>
		</div>
	</form>
</div>