<div class="container" ng-controller="SubscriberInfoCtrl">
	<div class="row">
		<h3 class="span12">
			<i class="icon-user">&nbsp;</i>Subscriber
			&nbsp;
			<small>
				<a href="#/subscribers/{{subscriber.customerNo}}/edit"><i class="icon-pencil">&nbsp;</i>edit</a>
			</small>
		</h3>
	</div>
	<div class="row subscriber-info">
		<div class="span4">
			<h4>1. Basic Information</h4>
			<strong>Customer Number</strong>
			<p class="info" ng-class="getInfoClass(subscriber.customerNo)">{{displayInfo(subscriber.customerNo)}}</p>
			<strong>Name</strong>
			<p class="info" ng-class="getInfoClass(subscriber.name)">{{displayInfo(subscriber.name)}}</p>
			<strong>Sex</strong>
			<p class="info" ng-class="getInfoClass(subscriber.getReadableGender())">{{displayInfo(subscriber.getReadableGender())}}</p>
			<strong>Nationality</strong>
			<p class="info" ng-class="getInfoClass(subscriber.nationality)">{{displayInfo(subscriber.nationality)}}</p>
			<strong>Birth Date</strong>
			<p class="info" ng-class="getInfoClass(subscriber.birthday)">
				{{displayDate(subscriber.birthday)}}
			</p>
		</div>
		<div class="span4">
			<h4>2. Contact Information</h4>
			<strong>Address</strong>
			<p class="info" ng-class="getInfoClass(subscriber.address)">{{displayInfo(subscriber.address)}}</p>
			<strong>Phone</strong>
			<p class="info" ng-class="getInfoClass(subscriber.phone)">{{displayInfo(subscriber.phone)}}</p>
			<strong>Email</strong>
			<p class="info" ng-class="getInfoClass(subscriber.email)">{{displayInfo(subscriber.email)}}</p>
		</div>
		<div class="span4">
			<h4>3. Additional Information</h4>
			<strong>Does Not Eat</strong>
			<p class="info" ng-class="getInfoClass(subscriber.doesNotEat)">{{displayInfo(subscriber.doesNotEat)}}</p>
			<strong>Note</strong>
			<p class="info" ng-class="getInfoClass(subscriber.note)">{{displayInfo(subscriber.note)}}</p>
			<strong>Referee</strong>
			<p class="info" ng-class="getInfoClass(subscriber.referee)">{{displayInfo(subscriber.referee)}}</p>
		</div>
		<div class="span12">
			<h4>4. Subscription Information
				&nbsp;
				<small>
					<a href="#/subscribers/{{subscriber.customerNo}}/subscriptions/create">
						<i class="icon-plus">&nbsp;</i>Add Subscription		
					</a>
				</small>
			</h4>
			<div ng-switch on="subscriber.haveSubscriptions()">
				<p ng-switch-when="false">No Subscription</p>
				<table ng-switch-when="true" class="table table-striped">
					<thead>
						<tr>
							<th>#</th>
							<th>Start Date</th>
							<th>Months</th>
							<th>Expected Revenue</th>
							<th>Paid Date</th>
							<th>Delivery Fee</th>
							<th style="width:300px;">Note</th>
						</tr>
					</thead>
					<tbody>
						<tr class="subscription" ng-repeat="s in subscriber.subscriptions">
							<td>{{$index+1}}</td>
							<td>{{displayDate(s.startingDate)}}</td>
							<td>{{s.months}}</td>
							<td>{{displayMoney(s.expectedRevenue)}}</td>
							<td>{{displayDate(s.paidDate, 'No Payment')}}</td>
							<td>{{displayMoney(s.deliveryFee)}}</td>
							<td>{{s.note}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="row">
		<ul class="nav nav-pills span12" style="border-top: 1px solid #EEE;margin-top: 12px;">
  		<li>
    		<a href="#/subscribers"><i class="icon-caret-left">&nbsp;</i>Back</a>
  		</li>
		</ul>
	</div>
</div>