<div class="container">
	<div class="row">
		<h3 class="span12">
			<i class="icon-plus">&nbsp;</i>New Subscriber
		</h3>
	</div>
	<div class="row">
		<form name="createSubscriberForm" novalidate 
			id="create-subscriber-form" 
			class="span12">
			<p class="info"><i class="icon-asterisk required-label">&nbsp;</i>required field</p>
			<div class="row">
				<div ng-form="basicInfoForm" class="span4">
					<h4>1. Basic Information</h4>
					<label>Name&nbsp;<i class="icon-asterisk required-label">&nbsp;</i></label>
					<input type="text" ng-model="subscriber.name" required/>
					<label>Sex</label>
					<div class="btn-group" data-toggle="buttons-radio" style="margin-bottom: 6px;">
						<button class="btn" ng-class="subscriber.isGenderActive('MALE')" ng-click="subscriber.setGender('MALE')">Male</button><button class="btn" ng-class="subscriber.isGenderActive('FEMALE')" ng-click="subscriber.setGender('FEMALE')">Female</button><button class="btn" ng-class="subscriber.isGenderActive('NOT_SPECIFIC')" ng-click="subscriber.setGender('NOT_SPECIFIC')">Not-Specific</button>
					</div>
					<label>Nationality</label>
					<input class="last-input" type="text" ng-model="subscriber.nationality"/>
					<label ng-hide="true">Birthday</label>
					<div ng-hide="true">
						<select ng-model="subscriber.birthday" ng-options="v.value for v in dateOptions"></select>
					</div>
				</div>
				<div ng-form="contactInfoForm" class="span4">
					<h4>2. Contact Information</h4>
					<label>Address&nbsp;<i class="icon-asterisk required-label">&nbsp;</i></label>
					<textarea rows="3" ng-model="subscriber.address" required></textarea>
					<label>Phone&nbsp;<i class="icon-asterisk required-label">&nbsp;</i></label>
					<input type="text" ng-model="subscriber.phone" required/>
					<label>Email</label>
					<input class="last-input" type="text" ng-model="subscriber.email"/>
				</div>
				<div ng-form="otherInfoForm" class="span4">
					<h4>3. Additional Information</h4>
					<label>Note</label>
					<textarea row="3" ng-model="subscriber.note"></textarea>
					<label>Referee</label>
					<input type="text" ng-model="subscriber.referee"/>
				</div>
			</div>
			<div ng-switch on="mode">
				<div ng-switch-when="create" class="form-actions">
					<button class="btn btn-primary" 
						ng-click="create(subscriber)"
						ng-disabled="!createSubscriberForm.$valid">
						<i class="icon-ok">&nbsp;</i>Create
					</button>
					<a href="#/subscribers" class="btn">Cancel</a>
				</div>
				<div ng-switch-when="edit" class="form-actions">
					<button class="btn btn-primary" 
						ng-click="save(subscriber)"
						ng-disabled="!createSubscriberForm.$valid">
						<i class="icon-ok">&nbsp;</i>Save
					</button>
					<a href="#/subscribers/{{subscriber.customerNo}}" class="btn">Cancel</a>
				</div>
			</div>
		</form>
	</div>
</div>