<div class="container" ng-controller="ListSubscriberCtrl">
	<h3><i class="icon-group">&nbsp;</i>Subscribers <small>({{subscribers.length}})</small></h3>
	<ul class="nav nav-pills">
	  <li>
	    <a href="#/subscribers/create"><i class="icon-plus">&nbsp;</i>New Subscriber</a>
	  </li>
	</ul>
	<div class="subscribers-list">
		<div ng-repeat="s in subscribers" class="row subscriber">
			<div class="span" style="width: 48px;">
				<a ng-click="del(s)">
					<i class="icon-trash">&nbsp;</i>
				</a>
				&nbsp;
				<a href="#/subscribers/{{s.customerNo}}"><i class="icon-user">&nbsp;</i></a>
			</div>
			<span class="span3"><strong>{{s.customerNo}}</strong>&nbsp;{{s.name}}</span>
			<span class="span4" ng-switch on="!!s.subscriptions && s.subscriptions.length > 0">
				<span ng-switch-when="true">{{displayLastestSubscriptionInfo(s)}}</span>
				<span ng-switch-when="false" style="color: #999;">{{displayLastestSubscriptionInfo(s)}}</span>
			</span>
		</div>
	</div>
</div>