<div class="container">
  <div class="row">
    <h3 class="span12">
      <i class="icon-plus">&nbsp;</i>New Subscription
    </h3>
    <h4 class="span12">
      {{subscriber.customerNo}}&nbsp;{{subscriber.name}}
    </h4>
  </div>
  <div class="row">
    <form name="createSubscriptionForm" novalidate class="span12">
      <label>Months</label>
      <select name="subscription.months" ng-model="subscription.months">
        <option value="1">1 month</option>
        <option value="3">3 months</option>
        <option value="6">6 months</option>
        <option value="12">12 months</option>
      </select>
      <label>Start Date <span class="inlineCheckbox"><input class="input" type="checkbox" ng-model="notSpecificStartingDate"/> Not Specific</span></label>
      <div date-picker ng-model="subscription.startingDate" from-year="fromYear" to-year="toYear" disable-all="notSpecificStartingDate" class="datePicker">
            <select class="day"></select>
            <select class="month"></select>
            <select class="year"></select>
          </div>
      <div>
      <label>Expected Revenue</label>
      <input type="text" ng-model="subscription.expectedRevenue" >
      <label>Paid Date <span class="inlineCheckbox"><input class="input" type="checkbox" ng-model="notPaid"/> No Payment</span></label>
      <div date-picker ng-model="subscription.paidDate" from-year="fromYear" to-year="paidDateToYear" disable-all="notPaid" class="datePicker">
        <select class="day"></select>
        <select class="month"></select>
        <select class="year"></select>
      </div>
      <label>Delivery Fee</label>
      <input type="text" ng-model="subscription.deliveryFee">
      <label>Note</label>
      <textarea ng-model="subscription.note" rows="3"></textarea>

      <div>
        <div class="form-actions">
          <button 
            ng-click="createSubscription(subscription)"
            ng-disabled="!createSubscriptionForm.$valid" 
            class="btn btn-primary">
            <i class="icon-ok">&nbsp;</i>Create
          </button>
          <a href="#/subscribers/{{subscriber.customerNo}}" class="btn">Cancel</a>
        </div>
      </div>
    </form>
  </div>
</div>